<%- include('./partials/header')  %>


<h2>BLOGS @ SKR</h2>
<% blogs.forEach(function(blog){ %>
    <div class="container">
        <div class="square">
          <img src="<%= blog.image %>" class="mask" alt="Image">
          <div class="h1"><a href="/show/<%= blog._id %>"><%= blog.title %></a></div>
          <h5><%= blog.date.toDateString() %></h5>
          <p><%- blog.text.substring(0, 100) %>...</p>
          <div><a href="/show/<%= blog._id %>" class="button">Read More</a></div>
        </div>
    </div>
<% }) %>



<%- include('./partials/footer')  %>